/* WhatsApp Button */
.whatsapp-button, .phone_button, .email-button {
    padding: 0; margin: 0;
    display: flex;
    justify-content: center; align-items: center;
    position: fixed; display: flex;
    font-size: 5vw;
    height: 14vw; width: 14vw;
    right: 10px; bottom: 1vw !important;
    border-radius: 30vw;
    color: white; text-decoration: none;
    transition: background-color 0.3s;
    z-index: 500; cursor: pointer;
}
.whatsapp-button {
    background-color: #25D366;
}

.email-button {
    right: 16vw;background-color: #89CFF0;
}

.phone_button {
    background-color: #b0a1a1;
    right: 31vw;
}
.phone_button a {
    color: whitesmoke;
    position: relative;
}
.phone_button:hover {
    background-color: #807676;
}
.whatsapp-button:hover {
    background-color: #128c55;
}
.email-button:hover {
    background-color: #619bb4;
}

/* Form Styling */
#whatsappForm, #emailForm {
    position: fixed;
    right: 1vw;
    bottom: 16vw;
    background-color: #f9f9f9;
    padding: 4vw;
    border-radius: 15px;
    width: 55vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 5000;
}

#whatsappForm h2, #emailForm h2 {
    font-family: 'Titilium', sans-serif;
    color: #333;
    font-size: 4vw;
    margin-bottom: 4vw;
}

#whatsappForm input,
#whatsappForm select,
#whatsappForm button,
#emailForm input,
#emailForm select,
#emailForm button {
    width: 52.5vw;
    padding: 2vw;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 3.25vw;
    transition: border-color 0.3s;
}

#whatsappForm input:focus,
#whatsappForm select:focus,
#whatsappForm button:focus,
#emailForm input:focus,
#emailForm select:focus,
#emailForm button:focus{
    border-color: #25D366;
    outline: none;
}

#whatsappForm button {
    background-color: #25D366;
    color: white;
    cursor: pointer;
}
#emailForm button {
    background-color: #25b3d3;
    color: white;
    cursor: pointer;
}

#whatsappForm button:hover,
#emailForm button:hover {
    background-color: #218ba1;
}

.exit-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #aaa;
    cursor: pointer;
    font-size: 5vw;
}

.exit-btn:hover {
    color: #777;
}

.exit-btn {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}