/* WhatsApp Button */
.whatsapp-button a {
    display: inline-block;
    font-size: 24px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #25D366;
    padding: 15px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    z-index: 10000000000;
}

.whatsapp-button a:hover {
    background-color: #128c55;
}

.email-button:hover {
    background-color: #619bb4;
}

/* Form Styling */
#whatsappForm, #emailForm {
    position: fixed;
    right: 10px;
    bottom: 80px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 5000;
}

#whatsappForm h2, #emailForm h2 {
    font-family: 'Titilium', sans-serif;
    color: #333;
    font-size: 18px;
    margin-bottom: 15px;
}

#whatsappForm input,
#whatsappForm select,
#whatsappForm button,
#emailForm input,
#emailForm select,
#emailForm button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

#whatsappForm input:focus,
#whatsappForm select:focus,
#whatsappForm button:focus,
#emailForm input:focus,
#emailForm select:focus,
#emailForm button:focus{
    border-color: #25D366;
    outline: none;
}

#whatsappForm button {
    background-color: #25D366;
    color: white;
    cursor: pointer;
}
#emailForm button {
    background-color: #25b3d3;
    color: white;
    cursor: pointer;
}

#whatsappForm button:hover,
#emailForm button:hover {
    background-color: #218ba1;
}

.exit-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #aaa;
    cursor: pointer;
    font-size: 20px;
}

.exit-btn:hover {
    color: #777;
}

.email-button, .whatsapp-button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

.phone_button {
    display: flex;
    background-color: #b0a1a1;
    color: white;
    position: fixed;
    height: 60px; width: 60px; border-radius: 30px;
    right: 145px;
    bottom: 10px;
    color: black;
    z-index: 500;
}
.phone_button a {
    color: whitesmoke;
    font-size: 22px;
    position: relative;
    left: 33%;
    top: 30%;
}
.phone_button:hover {
    background-color: #807676;
}

.email-button {
    bottom: 10px; /* Adjust this as per the exact height of the whatsapp-button */
    background-color: #89CFF0; /* Baby blue color */
    right: 75px;
    z-index: 300;
}

.email-button a {
    color:whitesmoke;
}

.whatsapp-button {
    bottom: 50px;
    z-index: 400;
}

.exit-btn {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}