* { box-sizing: border-box; margin: 0; padding: 0;}
body {
    margin: 0;padding: 0;
}

.jumbotron {
    position: relative;
    margin-top: 0%; height: 85vw; top: 17vw;
}

/*.jumbotron img {*/
/*    max-width: 100%;*/
/*    opacity: 50%;*/
/*    height: 20%; !* This will make the image effectively twice as tall as the container *!*/
/*    object-fit: cover; !* This ensures the image covers the container without distorting *!*/
/*    object-position: top center;*/
/*}*/

.slider {
    overflow: hidden; position: relative;
    width: 100vw; height: 85vw;
}

.slides {
    display: flex;
    animation: slideAnimation 40s infinite; /* 3 images * 5 seconds each */
}

.slide {
    width: 100vw; /* Full width of the viewport */
    height: 100%;
    flex: 0 0 auto;
}

.slide img {
    width: 100%; height: 100%;
    object-fit: cover; opacity: 90%;
}

.jumbotron h1 {
    font-family: 'Quicksand', sans-serif; color: #f1eded;
    font-weight: bold; border-radius: 3px;
    opacity: 90%; font-size: 5vw;
    position: absolute; text-align: center;
    top: 25vw; width: 80vw; left:10vw; padding:4vw 1vw;
}

.banner {
    width: 100%;
    height: 35vw;
    background-color: whitesmoke;
    position: absolute;
    /*bottom: 50%;*/
    bottom: 0vw;
}

.banner ul {
    width: 80vw; top: 3vw; left: 5vw;
    font-family: 'Quicksand', sans-serif; font-size: 3vw;
    position: absolute; display: flex;
    list-style: none; text-align: center; justify-content: space-between;
}
.jumbotron li:nth-child(2){
    padding-left: 4vw;
}
.banner p2 {
    position: absolute; top: 13vw; width: 90vw; left: 21.5vw;
    font-family: 'Quicksand', sans-serif; font-style: normal; font-size: 3.5vw;
}

.jumbotron button {
    font-family: 'Quicksand', sans-serif;
    display: flex; position: relative;
    justify-content: center; align-items: center;
    width: 50vw; top: 20vw; left: 25vw;
    font-size: 3vw; padding: 2vw 4vw;
    border-radius: 3px; border-color: black;
    background-color: whitesmoke;
}

.square_container {
    margin: 2.5%; width: 95%; height: 200vw; top: 110vw;
    background-color: whitesmoke;
    position: absolute;
}

.square_container h1 {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-weight: bold; font-size: 5vw;
}

.square_list{
    list-style-type: none; left: 0; padding-left: 5%; margin: 0;
    position: relative;
}
.square_list li {
    margin: 0; padding-bottom: 20px; flex-wrap: wrap}
.square_content {
    border-radius: 2px;
    height: 35vw; background-color: #a67c7c; width: 85vw;
    position: relative; overflow: hidden;
}
.square_content img {
    opacity: 70%;
    position: absolute;
    top: 0;left: 0; width: 100%; height: 100%;
    object-fit: cover;
}
.square_banner {
    opacity: 95%;
    position: absolute;
    left: 0; margin-top: 3.5%;
    width: 40vw; height: 7vw;
    background: linear-gradient(-65deg, transparent 20%, #e0dfdf 20%);
}
.square_banner h1 {
    padding: 0; margin: 0;
    position: absolute;
    left: 2vw; top: .5vw;
    font-size: 3vw;
}
.square_content button {
    padding: 0; margin: 0;
    height: 25%; width: 40%;
    font-size: 3vw; font-family: 'Cairo', sans-serif;
    background: linear-gradient(-65deg, #e0dfdf 80%, transparent 80%); border: none;
    position: absolute;
    right: 0; bottom: 10%;
}
.square_content button:hover {
    cursor: pointer;
    background: linear-gradient(-65deg, #adadad 80%, transparent 80%);
}
.square_content button a {
    text-decoration: none; color: #494949;
}
.square_content button i {
    font-size: 4vw; position: absolute; top: 10%; right: 10%;
    text-decoration: none; color: black;
}




@keyframes slideAnimation {
    0%, 10% { transform: translateX(0%); }        /* Slide 1 - half time */
    10.01%, 30% { transform: translateX(-100%); } /* Slide 2 */
    30.01%, 50% { transform: translateX(-200%); } /* Slide 3 */
    50.01%, 70% { transform: translateX(-300%); } /* Slide 4 */
    70.01%, 90% { transform: translateX(-400%); } /* Slide 5 */
    90.01%, 100% { transform: translateX(-500%); }/* Slide 6 (duplicate of slide 1) - half time */
}






