
/* Tablet devices (portrait) */
@media only screen and (max-width: 600px) {

}

/* Tablet devices (landscape) and small desktops */
@media only screen and (max-width: 768px) {

}

@media screen and (max-width: 1070px) and (orientation: landscape) {
    .top_nav { height: 12.5vw;}
    .nav_logo img{ height: 10vw;}
    .nav_list {padding-top: 2vw;}
    .nav_list li {font-size: 5vw;}
    .nav_list li:first-child {padding-right: 0;}
    .drop_container_button i { top: -1vw !important; font-size: 7vw !important;}

    .drop_content_container .exit_button {font-size: 5vw !important; top: 3vw;}
    .top_drop {height: 12.5vw}
    .top_drop img {height: 10vw; top: 1vw;}
    .bottom_drop {top: 13vw;}
    .drop_content_button {font-size: 4vw;}

    .socials_tab{top:13vw; height: 6vw;}
    .sticky {top: 1px;}
    .sticky_up {top:13vw;}

    .email-button, .whatsapp-button, .phone_button {
        height: 10vw; width: 10vw; font-size: 4vw;}
    .email-button { right: 12vw;}
    .phone_button {right: 23vw;}

    .jumbotron { top:12.5vw}
}
@media only screen and (max-width: 1079px) {
    .full_nav_container {
        display: none;}
    /*.nav_list li {top:25% !important; font-size: 25px}*/
    /*.socials_tab {height: 45px; width: 170px;*/
    /*    top: 105px; font-size: 20px;}*/
}

@media only screen and (min-width: 1080px) {
    .logo_mobile {
    display: none;}
    .nav_list li:last-child{
        display: none;}
    .full_nav_title{
        padding-top: 1px!important;
        align-items: center;}
    .full_content:first-child {
        padding-right: 1%;
    }
    .full_content:nth-child(2) {
        padding-right: 5%;}
    .full_content:nth-child(3) {
        padding-right: 1.5%;}
}

    @media (min-width: 980px) and (max-width: 1170px) {
        .full_nav_body ul{
            padding-top: 5px;}
        .full_nav_body li a{
        font-size: 14.3px;}
        .full_nav_title a{
            font-size: 15.3px;}
    }

@media (min-width: 1170px) {
    /*.full_nav_body ul {*/
    /*    top: 5%;*/
    /*    left: 57% !important;*/
    /*    width: 100%;*/
    /*    height: 20%;*/
    /*    flex-direction: column;*/
    /*    padding: 0;*/
    /*    margin: 0;*/
    /*    align-items: flex-start}*/
}

@media (min-width: 1170px) and (max-width: 1440px) {
    .full_nav_title a{
        font-size: 17px; padding-top: 2px;}
    .full_nav_body ul {
        padding-top: 5px;}
    .nav_list li{ top: 5px;}
}


@media only screen and (max-width: 1400px) {
        .full_hr, .nav_hr {
            width: 65.5%;
        }
    }
@media only screen and (min-width: 1400px) {
    /*.full_logo {left: 40px;}*/
    .full_nav_body ul{
            padding-top: 5px;}
    .full_nav_title li a{font-size: 19px;
    !important;}
    .full_nav_body li a {font-size: 17px}
    .full_socials_container{
        right: 18.5%;}
    .nav_list ul:first-child{display: flex}

}


