<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OA Consultancy Group</title>
    <link rel="stylesheet" href="../static/css%20styles/homestyle.css">
    <link rel="stylesheet" href="../static/css%20styles/nav_styles.css">
    <link rel="stylesheet" href="../static/css%20styles/contact_buttons.css">
    <link rel="stylesheet" href="../static/css%20styles/full_nav_style.css">
    <link rel="stylesheet" href="../static/css%20styles/responsiveness.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&family=Inter:wght@200;300;400;500;600;800&family=Manrope:wght@300;400;500;800&family=Quicksand:wght@300;400;500&family=Titillium+Web:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>


<body>

    <div class="top_nav">

    <div class="nav_container">
        <a href="#" class="nav_logo">
            <img class="logo_mobile" src="../static/images/oacon.logo.svg" alt=""></a>
        <div class="full_nav_container">
            <div class="full_logo">
                <a href="#">
                    <img class="logo_web" src="../static/images/oa_logo_web.svg" alt="">
                </a>
            </div>
            <div class="full_nav">
                <div class="full_content">
                    <div class="full_nav_title">
                        <a href="">Consultancy Services</a>
                    </div>
                    <div class="full_nav_body">
                        <ul>
                            <li>
                                <a href="">General Consultancy</a>
                            </li>
                            <li>
                                <a href="">Business Establishment</a>
                            </li>
                            <li>
                                <a href="">Licensing Services</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="full_content">
                    <div class="full_nav_title">
                        <a href="">Business Establishment</a>
                    </div>
                    <div class="full_nav_body">
                        <ul>
                            <li>
                                <a href="">Ecommerce</a>
                            </li>
                            <li>
                                <a href="">Real Estate</a>
                            </li>
                            <li>
                                <a href="">Tech Sector</a>
                            </li>
                            <li>
                                <a href="">Finance</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="full_content">
                    <div class="full_nav_title">
                        <a href="">Licenses/Visas</a>
                    </div>
                    <div class="full_nav_body">
                        <ul>
                            <li>
                                <a href="">Mainland</a>
                            </li>
                            <li>
                                <a href="">Free Zone</a>
                            </li>
                            <li>
                                <a href="">Off-Shore</a>
                            </li>
                            <li>
                                <a href="">Off-Shore</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="full_content">
                    <div class="full_nav_title">
                        <a href="">Contact</a>
                    </div>
                    <div class="full_nav_body">
                        <ul>
                            <li>
                                <a href=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="full_content">
                    <div class="full_nav_title">
                        <a href="">About</a>
                    </div>
                    <div class="full_nav_body">
                        <ul>
                            <li>
                                <a href=""></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="full_nav_bkg" id="section5">
                <hr class="nav_hr">
                <div class="full_socials_container">
                    <ul class="full_socials">
                        <li><a href="#" class="bi bi-linkedin"></a></li>
                        <li><a href="#" class="bi bi-instagram"></a></li>
                        <li><a href="#" class="bi bi-facebook"></a></li>
                        <li><a href="#" class="bi bi-twitter"></a></li>
                    </ul>
                </div>
                <hr class="full_hr">
            </div>

        </div>

        <div class="nav_list_container">
            <ul class="nav_list">
                <li id="searchIcon"><a href="#" class="bi bi-search"></a></li>
                <li>
                    <div class="dropdown_container">

                        <button class="drop_container_button">
                            <i class="bi bi-list" style="font-size: 9vw; position: absolute; top: -1.5vw; right: 5vw;"></i>
                        </button>
                        <div class="drop_content_container">
                            <div class="top_drop">
                                <img src="../static/images/oacon.logo.svg" alt="">
                                <button class="exit_button">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </div>

                            <div class="bottom_drop">
                                <button class="drop_content_button">
                                    Consultancy Services
                                    <div class="down_arrow">
                                        <i class="bi bi-chevron-double-down"></i>
                                    </div>
                                    <div class="up_arrow">
                                        <i class="bi bi-chevron-double-up"></i>
                                    </div>
                                </button>
                                <div class="drop_content">
                                    <a href="#">General Consultancy</a>
                                    <a href="#">Business Establishment</a>
                                    <a href="#">Licensing Services</a>
                                    <a href="#">Floor Treatment</a>
                                </div>


                                <button class="drop_content_button">
                                    Business Practices
                                    <div class="down_arrow">
                                        <i class="bi bi-chevron-double-down"></i>
                                    </div>
                                    <div class="up_arrow">
                                        <i class="bi bi-chevron-double-up"></i>
                                    </div>
                                </button>
                                <div class="drop_content">
                                    <a href="#">Ecommerce</a>
                                    <a href="#">Ceiling Treatment</a>
                                    <a href="#">Corner Treatment</a>
                                    <a href="#">Floor Treatment</a>
                                </div>

                                <button class="drop_content_button">
                                    Licenses and Visas
                                    <div class="down_arrow">
                                        <i class="bi bi-chevron-double-down"></i>
                                    </div>
                                    <div class="up_arrow">
                                        <i class="bi bi-chevron-double-up"></i>
                                    </div>
                                </button>
                                <div class="drop_content">
                                    <a href="#">FreeZone</a>
                                    <a href="#">Mainland</a>
                                    <a href="#">Corner Treatment</a>
                                    <a href="#">Floor Treatment</a>
                                </div>

                                <button class="drop_content_button">
                                    Commercial Applications
                                </button>
                                <div class="drop_content">
                                </div>

                                <button class="drop_content_button">
                                    Find the Right Treatment for You
                                </button>
                                <div class="drop_content">
                                </div>

                                <button class="drop_content_button">
                                    About Us
                                </button>
                                <div class="drop_content">
                                </div>

                                <button class="drop_content_button">
                                    Contact
                                </button>
                                <div class="drop_content">
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    </div>


    <div class="search-window" id="searchWindow">
    <button id="closeSearch" class="close-search"><i class="bi bi-x-lg"></i></button>
    <input type="text" placeholder="Search the site..." id="searchInput">
    <button id="submitSearch">Search</button>
    <div id="searchResults">
        <h3>Search Results:</h3>
        <ul id="resultsList"></ul>
    </div>
</div>

    <div class="socials_tab">
        <ul class="socials">
            <li><a href="#" class="bi bi-linkedin"></a></li>
            <li><a href="#" class="bi bi-instagram"></a></li>
            <li><a href="#" class="bi bi-facebook"></a></li>
            <li><a href="#" class="bi bi-twitter"></a></li>
        </ul>

    </div>



    <div id="whatsappForm" style="display:none;">
    <a href="javascript:void(0)" onclick="closeForm()" class="bi bi-x-lg exit-btn"></a>
    <h2>Contact via WhatsApp</h2>
    <input type="text" id="name" placeholder="Name">
    <input type="text" id="location" placeholder="Location">
    <input type="text" id="number" placeholder="Phone Number">
    <input type="text" id="email" placeholder="Email">
    <select id="serviceType">
        <option value="service1">Service 1</option>
        <option value="service2">Service 2</option>
    </select>
    <input type="text" id="businessType" placeholder="Business Type">
    <select id="locationType">
        <option value="mainland">Mainland</option>
        <option value="freezone">Freezone</option>
    </select>
    <select id="businessStatus">
        <option value="new">New</option>
        <option value="existing">Existing</option>
    </select>
    <button onclick="submitForm()">Submit</button>
</div>

    <!-- Email Button -->

    <div class="email-button" style="cursor: pointer;" onclick="showEmailForm()">
    <a class="bi bi-envelope"></a>
</div>

<!-- WhatsApp Button (from previous example) -->
    <div class="whatsapp-button" style="cursor: pointer" onclick="showForm()">
    <a class="bi bi-whatsapp"></a>
</div>

    <div id="emailForm" style="display:none;">
    <a href="javascript:void(0)" onclick="closeEmailForm()" class="bi bi-x-lg exit-btn"></a>
    <h2>Contact via Email</h2>
    <input type="text" id="emailName" placeholder="Name">
    <input type="text" id="emailLocation" placeholder="Location">
    <input type="text" id="emailNumber" placeholder="Phone Number">
    <input type="text" id="emailEmail" placeholder="Email">
    <select id="emailServiceType">
        <option value="service1">Service 1</option>
        <option value="service2">Service 2</option>
    </select>
    <input type="text" id="emailBusinessType" placeholder="Business Type">
    <select id="emailLocationType">
        <option value="mainland">Mainland</option>
        <option value="freezone">Freezone</option>
    </select>
    <select id="emailBusinessStatus">
        <option value="new">New</option>
        <option value="existing">Existing</option>
    </select>
    <button onclick="submitEmailForm()">Submit</button>
</div>

    <div class="phone_button" style="cursor: pointer;">
        <a href="#" class="bi bi-telephone"></a>
    </div>


    <div class="jumbotron">
        <div class="slider">
            <div class="slides">
                <div class="slide"><img src="../static/images/background1.png" alt=""></div>
                <div class="slide"><img src="../static/images/background2.png" alt=""></div>
                <div class="slide"><img src="../static/images/background3.png" alt=""></div>
                <div class="slide"><img src="../static/images/background4.png" alt=""></div>
                <div class="slide"><img src="../static/images/background5.png" alt=""></div>
                <div class="slide"><img src="../static/images/background1.png" alt=""></div>
            </div>
        </div>
        <h1> Bespoke U.A.E Business Consultancy Services<br>
        </h1>
        <div class="banner">
            <ul>
                <li>ADVISORY</li>
                <li>LICENSING</li>
                <li>ESTABLISHMENT</li>
            </ul>
            <p2>Specifically Tailored To Your Needs</p2>
            <button onclick="window.location.href='#';">
                Book A Consultancy
            </button>
        </div>

    </div>

    <div class="about_us_container">
        <h1>About Us</h1>
        <ul class="about_content">
            <li>
                <h2>Our History</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </li>
            <li>
                <h2>Our Mission</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </li>
        </ul>
        <p></p>
        <button onclick="window.location.href='#'">Learn More</button>
    </div>

    <div class="ai_ad_container">
        <h1>Apply Now With ARK</h1>
        <h2>Streamlined Online Document Clearance</h2>
        <p>Utilize ARK - our Proprietary Document Processing Infrastructure -
            to easily apply for U.A.E Licenses, Visas, Tax Certificates, and More!
            Tell ARK about your business, upload supporting documentation, and Ark will handle the heavy lifting.</p>
        <button onclick="window.location.href='#'">Explore ARK</button>
    </div>

    <div class="square_container">
        <h1>Business Practices</h1>
        <ul class="square_list">
            <li>
                <div class="square_content">
                    <img src="../static/images/commerce_img.jpg" alt="">
                    <div class="square_banner">
                        <h1>ECOMMERCE</h1>
                    </div>
                    <p1></p1>
                   <button onclick="window.location.href='#';">
                        <a href="#">Explore</a>
                        <i class="bi bi-chevron-double-right"></i>
                    </button>
                </div>
            </li>
            <li>
                <div class="square_content">
                    <img src="../static/images/real_estate_img.jpg" alt="">
                    <div class="square_banner">
                        <h1>REAL ESTATE</h1>
                    </div>
                    <button onclick="window.location.href='#';">
                        <a href="#">Explore</a>
                        <i class="bi bi-chevron-double-right"></i>
                    </button>
                </div>
            </li>
            <li>
                <div class="square_content">
                    <img src="../static/images/dubai.jpg" alt="">
                    <div class="square_banner">
                        <h1>FINANCE</h1>
                    </div>
                    <button onclick="window.location.href='#';">
                        <a href="#">Explore</a>
                        <i class="bi bi-chevron-double-right"></i>
                    </button>
                </div>
            </li>
            <li>
                <div class="square_content">
                    <img src="../static/images/tech_image.jpg" alt="">
                    <div class="square_banner">
                        <h1>TECH SECTOR</h1>
                    </div>
                    <button onclick="window.location.href='#';">
                        <a href="#">Explore</a>
                        <i class="bi bi-chevron-double-right"></i>
                    </button>
                </div>
            </li>
            <li>
                <div class="square_content">
                    <img src="../static/images/tourism.jpg" alt="">
                    <div class="square_banner">
                        <h1>TOURISM</h1>
                    </div>
                    <button onclick="window.location.href='#';">
                        <a href="#">Explore</a>
                        <i class="bi bi-chevron-double-right"></i>
                    </button>
                </div>
            </li>
        </ul>
        <div class="square">

        </div>

    </div>

    <div class="mission_container">
        <div class="missions">
            <h1> OUR MISSION</h1>
            <p>OA Consultancy Group is dedicated to the provision of ideal licensing, processing, establishment,
                and consultancy solutions within the U.A.E. It is our mission to service both new and existing
                business entities through</p>
        </div>
        <button onclick="window.location.href='#'">
            More About Us
            <i class="bi bi-chevron-double-right"></i>
        </button>
        <div class="values">
            <h2>OUR VALUES</h2>
            <p>OA Consultancy Group is dedicated to the provision of ideal licensing, processing, establishment,
                and consultancy solutions within the U.A.E.</p>
        </div>

    </div>



<script src="../static/javascript/FullNav.js"></script>

<script src="../static/javascript/o_mobile_nav.js"></script>

<script src="../static/javascript/onav.js"></script>


<script src="../static/javascript/o_search_js.js">

</script>



<script type="text/javascript" src="../static/javascript/onav.js"></script>



<script src="../static/javascript/contact_buttons.js"></script>



<script src="../static/o_full_nav.js"></script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




</body>



</html>